<div class="align-middle mx-auto text-center login">
  <div>
    <div class="display-4 main_color_dark">to<span class="display-1">D</span></div>
    <div class="achromatic_color_dark">日本一早い会議アプリ</div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div stye="line-height: 0px;">
        <div class="field" id="username">
          <%= f.text_field :username, autofocus: false, autocomplete: "id", placeholder: "ID" %>
        </div>

        <div class="field" id="password">
          <%= f.password_field :password, autocomplete: "password", placeholder: "password" %>
        </div>
      </div>

      <div class="actions submit_login">
        <%= f.submit "ログイン", {class: "achromatic_color_light bg_accent_color"} %>
      </div>
    <% end %>
  </div>
</div>
