<div id="thread_list" class="absolute bg_main_color_light position-fixed text-center d-none">
  <div class="align-middle mx-auto text-center justify-content-start bg_main_color_light" id="thread_list_close">
    <button type="button" class="achromatic_color_dark bg_accent_color" id="open_conf" data-toggle="modal" data-target="#openConf">会議を開く</button>
  </div>
  <ul class="nav flex-column">
    <% @rooms.each do |room| %>
      <li class="nav-item">
        <a class="nav-link <%= (@room_id.to_i == room.id) ? "accent_color" : "achromatic_color_dark" %>" href="/<%= room.id %>">
          #<%= room.name %>
        </a>
      </li>
    <% end %>
    <li class="nav-item">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    </li>
  </ul>
</div>

<div id="thread_close" class="absolute bg_main_color_dark position-fixed d-none">
  <div class="align-middle mx-auto text-center justify-content-start">
    <button class="main_color_dark" id="close"><div>▼</div><div>閉じる</div></button>
  </div>
</div>

<footer class="d-flex fixed-bottom input">
  <div class="align-middle mx-auto text-center justify-content-start bg_main_color_light" id="thread_open">
    <button class="main_color_dark"><div>▲</div><div>スレッド一覧</div></button>
  </div>
  <form class="flex-fill bg_main_color_dark">
    <div class="input-group input-group-lg mb-3">
      <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="submit_btn" data-behavior="room_speaker" id="input_msg">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary bg_achromatic_color_light" type="button" id="submit_btn">送信</button>
      </div>
    </div>
  </form>
</footer>

<div class="modal fade" id="openConf" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form action="/room/create" method="post">
          <h2 class="modal-title" id="exampleModalCenterTitle">会議を開く</h2>
          <div class="input-group mb-3">
            <div class="input-group-prepend col-3 open_conf_label">
              <span class="input-group-text col bg_main_color_dark" style="color: white;" id="agenda">議題</span>
            </div>
            <input type="text" class="form-control col" placeholder="" aria-label="agenda" aria-describedby="agenda" name="name">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend col-3 open_conf_label">
              <span class="input-group-text col bg_main_color_dark" style="color: white;" id="discussion">議論概要</span>
            </div>
            <input type="text" class="form-control col" placeholder="" aria-label="discussion" aria-describedby="discussion" name="detail">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend col-3 open_conf_label">
              <span class="input-group-text col bg_main_color_dark" style="color: white;" id="limit">期限</span>
            </div>
            <input type="text" class="flatpickr flatpickr-input active form-control col" placeholder="" aria-label="limit" aria-describedby="limit" name="limit" readonly="readonly" style="background: white;">
          </div>
        </form>
      </div>
      <div class="align-middle mx-auto text-center">
        <button type="button" class="btn bg_accent_color achromatic_color_dark" id="start_conf">開始</button>
      </div>
    </div>
  </div>
</div>

<script>
$(function() {
  // closeとopenのサイズを合わせる
  $("#thread_close").width($("#thread_open").width());
  $("#thread_close").height($("#thread_open").height());
  $("#close").width($("#thread_open button").width());
  $("#close").height($("#thread_open button").height());
  $("#open_conf").width($("#thread_open button").width());
  $("#open_conf").height($("#thread_open button").height());
  $("#thread_list_close").width($("#thread_open").width());
  $("#thread_list_close").height($("#thread_open").height());

  flatpickr("input[name=limit]", {});

  $(window).on('load resize', function() {
    $("#messages").height(window.innerHeight - $("footer").height() - $("header").height());
    $("#thread_list").height(window.innerHeight - $("footer").height() - $("header").height());
  });

  $("#thread_open button").on("click", function() {
    $("#thread_close").toggleClass("d-none");
    $("#thread_list").toggleClass("d-none");
  });

  $("#thread_close button").on("click", function() {
    $("#thread_close").toggleClass("d-none");
    $("#thread_list").toggleClass("d-none");
  });

  $("#start_conf").on("click", function() {
    $("#openConf form").submit();
  });
});
</script>