<div id="thread_list" class="absolute bg_main_color_light position-fixed d-none">
  <ul class="nav flex-column">
    <% @rooms.each do |room| %>
      <li class="nav-item">
        <a class="nav-link active" href="/<%= room.id %>">
          <%= room.name %>
        </a>
      </li>
    <% end %>
    <li class="nav-item">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    </li>
  </ul>
</div>

<div id="thread_close" class="absolute bg_main_color_dark position-fixed d-none">
  <div class="align-middle mx-auto text-center justify-content-start">
    <button class="main_color_dark"><div>閉じる</div><div>▼</div></button>
  </div>
</div>

<footer class="d-flex fixed-bottom input">
  <div class="align-middle mx-auto text-center justify-content-start bg_main_color_light" id="thread_open">
    <button class="main_color_dark"><div>▲</div><div>スレッド一覧</div></button>
  </div>
  <form class="flex-fill bg_main_color_dark">
    <div class="input-group input-group-lg mb-3">
      <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="submit_btn" data-behavior="room_speaker" id="input_msg">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary bg_achromatic_color_light" type="button" id="submit_btn">送信</button>
      </div>
    </div>
  </form>
</footer>

<script>
$(function() {
  $("#thread_open button").on("click", function() {
    $("#thread_close").toggleClass("d-none");
    $("#thread_list").toggleClass("d-none");
  });
});
</script>