<%# <h1>Chat room</h1> %>

<div class="chat_msg p-2" id="messages">
  <% unless @messages.nil? %>
    <%= render @messages %>
  <% end %>
</div>

<div class="input mt-auto p-2 bg_main_color_dark">
  <form>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="submit_btn" data-behavior="room_speaker" id="input_msg">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary bg_achromatic_color_light" type="button" id="submit_btn">送信</button>
      </div>
    </div>
  </form>
</div>
