@import "bootstrap";

body {
  height: 100%;
}
.content {
  height: 100vh;
}
.left {
  width: 150px;
  height: 100%;
}
.contents {
  height: 100vh;
}
.input {
  width: 100%;
}

// メインカラー（淡）
.main_color_light {
  color: #E3EDF8;
}
// メインカラー（濃）
.main_color_dark {
  color: #688FBB;
}
// 無彩色（淡）
.achromatic_color_light {
  color: #F2EBEB;
}
// 無彩色（濃）
.achromatic_color_dark {
  color: #676767;
}
// アクセントカラー
.accent_color {
  color: #FFB758;
}

.bg_main_color_light {
  background-color: #E3EDF8;
}
.bg_main_color_dark {
  background-color: #688FBB;
}
.bg_achromatic_color_light {
  background-color: #F2EBEB;
}
.bg_achromatic_color_dark {
  background-color: #676767;
}
.bg_accent_color {
  background-color: #FFB758;
}

.submit_login {
  width: 400px;
}

.submit_login input {
  width: 150px;
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
}

.login {
  width: 400px;
  height: 100vh;
  margin-top: 150px;
}
#username input {
  width: 400px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 5px 20px;
}
#password input {
  width: 400px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 5px 20px;
}
footer form {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
#thread_open {
  width: 150px;
}
#thread_open button {
  margin-top: 15px;
  border-radius: 10px;
}
.absolute {
  position: absolute;
}
#thread_list {
  top: 0px;
  left: 0px;
  width: 150px;
  height: 100vh;
}
.hidden {
  display: none;
}
#thread_close {
  z-index: 9999;
  width: 150px;
  bottom: 0px;
  left: 0px;
}
#thread_close button {
  margin-top: 15px;
  border-radius: 10px;
}
#thread_list_close button {
  margin-top: 15px;
  border-radius: 10px;
}
footer {
  z-index: 2;
}
.open_conf_label {
  padding-right: 0px !important;
  padding-left: -15px !important;
}
#openConf .row {
  padding-right: 15px !important;
  padding-left: 15px !important;
}
#openConf .col-sm {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
#start_conf {
  margin-bottom: 20px;
  width: 400px;
}